.rootLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 1rem;
    height: 4rem;

    .user{
      margin-left: auto;
    }
    z-index: 10;

  }
  

  main {
    flex: 1;
    overflow: hidden;
  }
}
