.rootLayout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 1rem;
        z-index: 10;
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    .user{
      margin-left: auto;
    }
    .cl-avatarBox{
      width: 2rem;
      height: 2rem;
    }
    z-index: 10;

  }
  

  main {
    flex: 1;
    overflow: hidden;
  }
}
